.App {
  padding: 30px;
  display: flex;background-color: #ececec;
  color: #000;
  flex-wrap: wrap ;
  align-items: flex-start;
  justify-content: center;
}

.App > div {
  margin-right: 50px;
}
button{
  margin-left: 15px;
  cursor: pointer;
}

